[Unit]
Description= Systemd service for install listener for Taryn
After=network.target

[Service]
ExecStart=/home/it490/IT-490-002/Frontend/install_listener.php
User = it490
Restart=always

[Install]
WantedBy=multi-user.target
