[Unit]
Description=Taryn's Web Server For Noetic
After=network.target
Requires=apache2.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/php /home/it490/target/install_listener.php
ExecStop=/usr/bin/systemctl stop apache2.service
ExecReload=/usr/bin/php /home/it490/target/install_listener.php
User=it490

[Install]
WantedBy=multi-user.target
