Backend/vendor/
Backend/composer.lock
Frontend/vendor/
Dmz/vendor
Deployment/vendor
Deployment/composer.lock
Frontend/composer.lock
Database/auth_servicenoetic-database.log
Database/auth_service/.db_listener.php.swp
Database/auth_service/composer.lock
Dmz/composer.lock
Dmz/vendor/
Dmz/cron.log
Backend/central.log
Dmz/central.log
Backendnoetic-database.log
Deploymentnoetic-Deploy.log