
[Unit]
Description=Broker Service For Noetic
Requires=rabbitmq-server.service
After=network.target

[Service]
ExecStart=/home/it490/target/db_listener.php
Restart=always
User=it490

[Install]
WantedBy=multi-user.target
