[Unit]
Description= Systemd service for install listener
After=network.target

[Service]
ExecStart=/home/it490/IT-490-002/DMZ/install_Listener.php
Restart=always
User=it490

[Install]
WantedBy=multi-user.target
