[Unit]
Description=DMZ For External Connections Controlled by Jess
After=network.target

[Service]
ExecStart=/home/it490/target/apiListener.php
User=it490
Restart=always

[Install]
WantedBy=multi-user.target
