[Unit]
Description=DMZ For External Connections Controlled by Jess
After=network.target

[Service]
ExecStart=/home/it490/IT-490-002/DMZ/apiListener.php
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
