[Unit]
Description= Systemd service for deploy listener
Requires=rabbitmq-server.service
After=network.target
Type=simple

[Service]
ExecStart=/home/it490/IT-490-002/deployListener.php
User=it490
Restart=always
WorkingDirectory=/home/it490/IT-490-002/

[Install]
WantedBy=multi-user.target
