[Unit]
Description= Systemd service for deploy listener
After=network.target

[Service]
ExecStart= /home/it490/target/deployListener.php
User=it490
Restart=always


[Install]
WantedBy=multi-user.target
