[Unit]
Description= Systemd service for install for deploy
After=network.target

[Service]
ExecStart= /home/it490/target/install.php
Restart=always

[Install]
WantedBy=multi-user.target
