[Unit]
Description= Systemd service for install
After=network.target

[Service]
ExecStart=/target/install.php
Restart=always

[Install]
WantedBy=multi-user.target
